{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png'%}" alt="banner Alura Space'">
                    <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    
                    <form id="tagForm" action="/searchtag/" method="GET">
                        <input id="tagIdInput" type="hidden" name="tag_id" value="">
                    </form>
                    <ul class="tags__lista">
                        <li class="tags__tag" data-tag-name="Nebulosa" >Nebulosa</li>
                        <li class="tags__tag" data-tag-name="Estrela" >Estrela</li>
                        <li class="tags__tag" data-tag-name="Galáxia" >Galáxia</li>
                        <li class="tags__tag" data-tag-name="Planeta" >Planeta</li>
                    </ul>
                    <script>
                        const tagElements = document.querySelectorAll('.tags__tag');
                        const tagNameInput = document.getElementById('tagIdInput');
                        const tagForm = document.getElementById('tagForm');
                    
                        tagElements.forEach(tagElement => {
                            tagElement.addEventListener('click', () => {
                                const tagName = tagElement.getAttribute('data-tag-name');
                                tagNameInput.value = tagName;
                                tagForm.submit();
                            });
                        });
                    </script>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                        
                        {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                    {% if fotografia.foto == '' or fotografia.foto == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                                    {% else %}
                                    <img class="card__imagem" src="{{fotografia.foto.url }}" alt="foto">
                                    {% endif %}
                                </a>
                                <span class="card__tag">{{ fotografia.tag }}</span>
                                <div class="card__info">
                                    <p class="card__titulo"> {{fotografia.nome}} </p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.legenda }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                           {% endfor %}
                        {% else %}
                            <div class="imagem__texto">
                                <p>Fotografias não encontradas</p>
                            </div>
                        {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}
